@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #253f4b;
  --secondary: #ff0800;
  --tertiary: #4C6085;
  --link: #ea3c53;
  --bg: #f7f7f7;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: var(--primary);
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}
